<div class="container">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput (keyup)="onKeyup('title',$event)" [value]="this.metadataService.displayedMetadata.tempTitle" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Album</mat-label>
        <input matInput (keyup)="onKeyup('album',$event)" [value]="this.metadataService.displayedMetadata.tempAlbum" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Artist</mat-label>
        <input matInput (keyup)="onKeyup('artist',$event)"
            [value]="this.metadataService.displayedMetadata.tempArtist" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Filename</mat-label>
        <input matInput (keyup)="onKeyup('filename',$event)"
            [value]="this.metadataService.displayedMetadata.tempFilename" />
    </mat-form-field>
</div>