.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}